h1{
    color: blueviolet;
    font-family: fantasy;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
h2{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
}
header{
    background-color: burlywood;
    margin: 10px;
    border-color: black;
    border:  2px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px 5px rgb(56, 48, 23);

}